:root {
	--cols: 40;
	--rows: 20;
}
#app {
	display: grid;
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	width: fit-content;
}
#app button {
	width: 2em;
	height: 2em;
	border: 1px solid #bbbbbb;
	margin-left: 1px;
	margin-top: 1px;
}
#app button.clicked {
	background-color: #fff;
	border: 1px solid #f0f0f0;
	box-shadow: unset;
	color: unset;
}
#app button.monster {
	background-color: #96e1ff;
	border: 1px solid #6a93c9;
}
#app button.Z {
	background-color: #96ffbe;
	border: 1px solid #4d9665;
}
#app button.S {
	background-color: #d1ff96;
	border: 1px solid #b4bd61;
}
#app button.G {
	background-color: #be96ff;
	border: 1px solid #8c539e;
}
#app button.Bo {
	background-color: #ff9696;
	border: 1px solid #99504e;
}
#statSheet {
	width: 6em;
	height: 8em;
	background-color: aquamarine;
	margin-right: 2em;
	padding: 2em;
}
#statSheet p:first-child {
	margin-top: 0;
}
#menu {
	float: left;
}
#resetButton {
	margin-top: 1em;
	margin-bottom: 2em;
}
#menu input {
	display: block;
}
#selectClass {
	margin-top: 2em;
}
